[submodule "SimpleTimer"]
	path = SimpleTimer
	url = https://github.com/schinken/SimpleTimer.git
[submodule "ModbusRtu"]
	path = ModbusRtu
	url = https://github.com/smarmengol/Modbus-Master-Slave-for-Arduino.git
[submodule "SoftwareSerial"]
	path = SoftwareSerial
	url = https://github.com/PaulStoffregen/SoftwareSerial.git
